.hide{
    display: none;
}


.header ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    border:2px solid #ff5900;
    display: table;
/*    overflow: hidden;*/
    width: 100%;
}
.header li{
    float: right;
    padding: 0;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;
}

.header a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.focus {
    background-color: #b45e38;
    position: sticky;
    top: 0;
}

.chosen {

}


.active {
    background-color: black;
    color: white;
}



header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f55726;
}

body,
html {
    min-height: 100%;
}

body {

    background-color: #f55726;
    background-image: url("../images/tamanna-rumee-dIOgzCwHmOk-unsplash.jpg");
    background-size: cover;
}

table.redTable {
    border: 2px solid #a43613;
    background-color: #f5bba6;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.redTable tbody td {
    font-size: 18px;
    height: 35px;
}
table.redTable tr:nth-child(even) {
    background: #f5bba6;
}
table.redTable thead {
    background: #a43613;
}
table.redTable thead th {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #a43613;
}
table.redTable thead th:first-child {
    border-left: none;
}

table.redTable tfoot {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background: #a43613;
}
table.redTable tfoot td {

    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    background: #a43613;
}
table.redTable tfoot .links {
    text-align: right;

}



table.redTable tfoot .links a{
    text-decoration: none;
    display: inline-block;
    background: #FFFFFF;
    color: #a43613;
    padding: 2px 8px;
    border-radius: 5px;

}

table.redTable tfoot .links a.active{
     background: black;
 }


table.redTable tbody tr.hidemy{
    background: #b45e38;
}








